<h1>{{name}}</h1>

<button {{action "removeInventory"}} class="destroy">Delete</button>

<br><br>

<h2>Goods</h2>

{{#each good in goods}}
  <div>
    Material: {{good.material}}
    Type: {{good.metal_type}}
    {{#if good.grade}} Grade: {{good.grade}} {{/if}}
    {{#if good.gauge}} Gauge: {{good.gauge}} {{/if}}
    {{#if good.diameter}} Diameter: {{good.diameter}} {{/if}}
    {{#if good.length}} Length: {{good.length}} {{/if}}
    {{#if good.finish}} Finish: {{good.finish}} {{/if}}
    {{#if good.comment}} Comment: {{good.comment}} {{/if}}
    <button {{action "removeGood" good}} class="destroy">Delete</button>
  </div>
{{/each}}

<h2>Add New Good</h2>

{{view Ember.Select
  content=metalTypes
  value=selectedType
}}

<br><br>

{{partial selectedType}}

<br><br>

<button {{action "addGood"}}>Add</button>