<h1>{{name}}</h1>

<button {{action "removeInventory"}} class="destroy">Delete</button>

<br><br>

<h2>Goods</h2>

<table border='1'>
  <tr>
    <th>Material</th>
    <th>Type</th>
    <th>Grade</th>
    <th>Gauge</th>
    <th>Diameter</th>
    <th>Length</th>
    <th>Finish</th>
    <th>Comment</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  {{#each good in goods}}
    <tr>
      <th>{{good.material}}</th>
      <th>{{good.metal_type}}</th>
      <th>{{good.grade}}</th>
      <th>{{#if good.gauge}} {{good.gauge}} {{/if}}</th>
      <th>{{#if good.diameter}} {{good.diameter}} {{/if}}</th>
      <th>{{#if good.length}} {{good.length}} {{/if}}</th>
      <th>{{#if good.finish}} {{good.finish}} {{/if}}</th>
      <th>{{#if good.comment}} {{good.comment}} {{/if}}</th>
      <th><button {{action "renderEditGood" good}}>Edit</button></th>
      <th><button {{action "removeGood" good}} class="destroy">Delete</button></th>
    </tr>
    
  {{/each}}
</table>

{{partial "editGood"}}

<h2>Add New Good</h2>

{{view Ember.Select
  content=metalTypes
  value=selectedType
}}

<br><br>

{{partial selectedType}}

<br><br>

<button {{action "addGood"}}>Add</button>